@tailwind base;
@tailwind components;
@tailwind utilities;
ActionBar {
    /* background-color: #E74117; */
    color: white;
}

.card {
    border-radius: 20;
    box-shadow: 2 2 3 rgba(0, 0, 0, .3);
    background: #E0E0E0;
}

.card Image {
    border-radius: 16;
}

.title,
label {
    color: #212121;
}

.coverImage {
    background-image: url('~/assets/circle.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.ns-dark .coverImage {
    background-color: #101010;
}

.ns-dark .card {
    background: #212121;
    color: white;
}

.ns-dark .title,
.ns-dark label {
    color: white;
}

timepickerfield,
datepickerfield {
    font-size: 20;
    font-weight: bold;
    padding: 20;
    border-radius: 20;
    box-shadow: 2 2 3 rgba(0, 0, 0, .3);
    background: #E0E0E0;
    margin-bottom: 30;
}