@tailwind base;
@tailwind components;
@tailwind utilities;
ActionBar {
    /* background-color: #E74117; */
    color: white;
}


/* E74117 */

.card {
    border-radius: 20;
    box-shadow: 2 2 3 rgba(0, 0, 0, .3);
    background: #E0E0E0;
}

.card Image {
    border-radius: 16;
}

.title,
label {
    color: #212121;
}

.coverImage {
    background-image: url('~/assets/circle.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.ns-dark .coverImage {
    background-color: #101010;
}

.ns-dark .card {
    background: #212121;
    color: white;
}

.ns-dark .title,
.ns-dark label {
    color: white;
}

.input {
    background: #dddcdc;
    margin: 10 0;
    padding: 12;
    font-size: 18;
    border-radius: 8;
    box-shadow: 2 2 3 rgba(0, 0, 0, .3);
}

.input.code {
    border-width: 1;
    border-color: #E74117;
    font-size: 60;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.2;
}

.ns-dark .input {
    background: #292929;
    color: white;
    placeholder-color: white;
}

timepickerfield,
datepickerfield {
    background: #292929;
}

.ns-dark timepickerfield,
.ns-dark datepickerfield {
    color: white;
}